{% extends 'base.html' %}

{% block content %}

<section class="section-about">
    <div class="container">
        <div class="profile">
            <h3>Ian Maloney</h3>
            <p>Hello! My name is Ian Maloney. I am a computer nerd and cyber-security enthusiast.</p>
        </div>
    </div>
</section>
<section class="section-contact">
    <div class="container">
        <h1>Contact</h1>
        <h3>Send me a Tip</h3>
            <p>If you like the articles I write a want to send me a tip for my troubles, you can do so via cryptocurrency:</p>
            <p>XRP: </p>
        <h3>You can reach me on my Socials:</h3>
            <p>Twitter: @ianmaloney_14</p>
            <p>LinkedIn: linkedin.com/in/ianmaloney14/</p>
            <p>Email: ianmaloney14@gmail.com</p>
    </div>
</section>

{% endblock %}