{% extends 'base.html' %}
{% block title %}Create a new Blog Post{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container--2">
    <h1 class="heading-secondary font--grey margin-top-sm">Add Post</h1>
    <form method="POST" class="form">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button class="button">Post</button>
    </form>
</div>
<script>
    var name = "{{ user.id }}";
    document.getElementById("user").value = name;


</script>

{% else %}

You are not allowed here.

{% endif %}


{% endblock %}