<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">

    <script defer src=" {% static '/js/script.js' %} " type="text/javascript"></script>

    {% load static %}

    <title>ianmaloney.com</title>
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar">
                <div class="nav-header-link">
                    <a href="{% url 'home' %}"><h1>Ian Maloney</h1></a>
                </div>
                <div class="nav-items-list">
                    <ul>
                        <li><a class="main-nav-links" href="{% url 'home' %}">Blog</a></li>
                        <!-- <li><a class="main-nav-links" href="#">Contact</a></li> -->
                        <li><a class="main-nav-links" href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <hr>
        </div>
        <div class="container">
            <main class="main-container">
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <div class="footer">
            <footer class="footer">
                <nav class="footer-navbar">
                    <div class="footer-social line-break">
                        <p>
                            <a href="#"><svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#444444444" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M128,88c0-22,18.5-40.3,40.5-40a40,40,0,0,1,36.2,24H240l-32.3,32.3A127.9,127.9,0,0,1,80,224c-32,0-40-12-40-12s32-12,48-36c0,0-64-32-48-120,0,0,40,40,88,48Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg></a>
                            <a href="#"><svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#444444444" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><rect x="36" y="36" width="184" height="184" rx="8" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></rect><line x1="120" y1="112" x2="120" y2="176" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="88" y1="112" x2="88" y2="176" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><path d="M120,140a28,28,0,0,1,56,0v36" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><circle cx="88" cy="80" r="12"></circle></svg></a>
                            <a href="#"><svg class="social-icons" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#444444444" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M32,56H224a0,0,0,0,1,0,0V192a8,8,0,0,1-8,8H40a8,8,0,0,1-8-8V56A0,0,0,0,1,32,56Z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><polyline points="224 56 128 144 32 56" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg></a>
                        </p>
                    </div>
                    <div class="footer-contact line-break">
                        <p>
                            <a href="{% url 'about' %}">Send a tip</a>
                            <a href="{% url 'about' %}">Contact</a>
                            <a href="{% url 'about' %}">About</a>
                            <a href="#">Privacy</a>
                            <a href="#">Terms & Conditions</a>
                        </p>
                    </div>
                </nav>
            </footer>
        </div>
    <!-- </div> -->
</body>
</html>