{% extends 'base.html' %}

{% block content %}
<div class="category-hero-section margin-bottom-lrg">
    <div class="category-hero-text">
        <h1 class="category-text--title">All Categories</h1>
    </div>
</div>
<div class="container--2">
    <div class="grid grid--3-cols row-gap-sm">
        {% for category in object_list %}
        <div class="category-box">
            {% if category.thumbnail %}
                {% load static %}<img class="category-img" src="{{ category.thumbnail.url }}" alt="category thumbnail">
            {% else %}
                {% load static %}<img class="category-img" src="src="{% static "img/image-not-found-scaled.png" %}" alt="image not found">
            {% endif %}
            <div class="category-link-box">
                <a class="category-links heading--text font--white" href="{% url 'category' category|slugify %}">{{ category.name }} <span>></span></br></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}