{% extends 'base.html' %}

{% block content %}
<div class="container--2">
    <h1 class="heading-secondary font--grey margin-top-sm">All Categories</h1>
    <div class="grid grid--3-cols">
        {% for category in object_list %}
        <div class="category-box">
            <!-- {% if category.thumbnail %}
                {% load static %}<img class="category-img" src="{{ category.thumbnail.url }}" alt="category thumbnail">
            {% else %}
                {% load static %}<img class="category-img" src="src="{% static "img/image-not-found-scaled.png" %}" alt="image not found">
            {% endif %} -->
            <a class="category-links heading--text font--white" href="{% url 'category' category|slugify %}">{{ category.name }}</br></a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}