{% extends 'base.html' %}

{% block content %}

<section class="section-post">
    <div class="container">
        <h2 class="heading-secondary font--grey heading-latest-posts">
            Latest Posts
        </h2>
    </div>
    <div class="container grid grid--2-cols">
        {% for post in object_list|slice:":2" %}
                <div class="post">
                {% if post.thumbnail %}
                    {% load static %}<img class="post-img" src="{{ post.thumbnail.url }}" alt="article thumbnail">
                {% else %}
                    {% load static %}<img class="post-img" src="src="{% static "img/image-not-found-scaled.png" %}" alt="image not found">
                {% endif %}
                    <div class="post-content">
                        <div class="post-tags">
                            <span class="tag tag--gamble"><a href="{% url 'category' post.category %}">{{ post.category }}</a></span>
                        </div>
                        <p class="post-title"><a class="post-title-link" href="{% url 'article-details' post.pk %}">{{ post.title }}</a></p>
                        <ul class="post-attributes">
                            <li class="post-attribute">{{ post.description|slice:":200"|safe}}</li>
                        </ul>
                    </div>
                </div>
        {% endfor %}
        <br>
        <!-- <div class="pagination">
            <div class="page-counter">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </div>
            <div class="page-nav">
                <ul>
                    {% if page_obj.has_previous %}
                        <li><a href="?page=1">first</a></li>
                        <li><a href="?page={{ page_obj.previous_page_number }}">prev</a></li>
                    {% endif %}
                    
                    <div>
                        {{ page_obj.number }} 
                    </div>

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number}}">next</a></li>
                        <li><a href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
                    {% endif %}
                </ul>
            </div>
        </div> -->
        <!-- Pagination -->
    </div>
        <nav class="pagination-nav">
            {% if page_obj.has_other_pages %}
            <ul class="pagination">
                <a href="?page=1" class="page-btn">First</a>
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a></li>
                {% else %}
                <!-- <li class="page-item disabled"></li> -->
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">></a></li>
                {% else %}
                <!-- <li class="page-item disabled"></li> -->
                {% endif %}
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-btn">Last</a>

            </ul>
            {% endif %}
        </nav>
</section>
{% endblock %}