{% extends 'base.html' %}

{% block content %}

<section class="section-post">
    <div class="container">
        <h2 class="heading-secondary font--grey heading-latest-posts">
            Latest Posts
        </h2>
    </div>
    <div class="container grid grid--2-cols">
        {% for post in object_list|slice:":2" %}
                <div class="post">
                {% if post.thumbnail %}
                    {% load static %}<img class="post-img" src="{{ post.thumbnail.url }}" alt="article thumbnail">
                {% else %}
                    {% load static %}<img class="post-img" src="src="{% static "img/image-not-found-scaled.png" %}" alt="image not found">
                {% endif %}
                    <div class="post-content">
                        <div class="post-tags">
                            <span class="tag tag--gamble">{{ post.category }}</span>
                        </div>
                        <p class="post-title"><a class="post-title-link" href="{% url 'article-details' post.pk %}">{{ post.title }}</a></p>
                        <ul class="post-attributes">
                            <li class="post-attribute">{{ post.description|slice:":200"|safe}}</li>
                        </ul>
                    </div>
                </div>
        {% endfor %}
        <br>
        <div>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        <ul>
            {% if page_obj.has_previous %}
                <li><a href="?page=1">first</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">prev</a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number}}">next</a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
            {% endif %}
        </ul>
    </div>
</section>
{% endblock %}