{% extends 'base.html' %}

{% block content %}
<section class="section-post">
    <div class="container--2">
        <h2 class="heading-secondary font--grey heading-latest-posts">
            Hello, I'm Ian!
        </h2>
        <p>
            I am a full-stack developer and cybersecurity enthusiast...
        </p>

        <h2 class="heading-secondary font--grey">Projects</h2>
            <div class="container--3">
                <p>Github Projects</p>
                <p>Blog Projects</p>
            </div>
    
    
        <h2 class="heading-secondary font--grey">Technologies</h2>
        <p>I've worked with these technologies:</p>

    
        <h2 class="heading-secondary font--grey"> Acomplishments</h2>
        <p>CodingDojo: Full-Stack Web Developement</p>
    </div>

</section>

{% endblock %}