{% extends 'base.html' %}

{% block content %}
<div class="content-primary">
    <div class="about-hero-section">
        <div class="about-hero-text">
            <h1 class="about-text--title">Privacy</h1>
        </div>
        <!-- {% load static %}<img class=""src="/media/images/server-background-img.png" alt=""> -->
    </div>
    <section class="section-about container--2">
        <h1 class="heading-h1 margin-bottom-sm margin-top-sm">Privacy Policy</h1>
        <p class="article-paragraphs">Thank you for visiting our blog! We understand that privacy is important to our readers and we are committed to protecting your personal information. This privacy policy outlines the type of information we collect and how we use it.</p>

        <h1 class="heading-h4 font--grey margin-bottom-sm">Information We Collect</h1>
        <p class="article-paragraphs">
            When you visit our blog, we may collect certain information about you automatically, including your IP address, browser type, operating system, and other technical information. We may also collect information about your browsing behavior, such as which pages you visit and how long you stay on our site.

            If you choose to subscribe to our blog, we will collect your email address and name. We will only use this information to send you our blog updates and will never share your information with any third parties.
        </p>

        <h1 class="heading-h4 font--grey margin-bottom-sm">Cookies</h1>
        <p class="article-paragraphs">
            We may use cookies to personalize your experience on our blog and to track your browsing behavior. Cookies are small data

            files that are stored on your device when you visit a website. We use cookies to remember your preferences, such as your language settings and to help us analyze how you use our blog.

            You can disable cookies in your browser settings if you prefer not to have them stored on your device. However, please note that some features of our blog may not function properly if you disable cookies.
        </p>

        <h1 class="heading-h4 font--grey margin-bottom-sm">Third-Party Services</h1>
        <p class="article-paragraphs">
            Our blog may contain links to other websites or services, such as social media platforms. These third-party services may collect information about you when you interact with them, and they have their own privacy policies that govern how they use and share your information. We are not responsible for the privacy practices of these third-party services.
        </p>

        <h1 class="heading-h4 font--grey margin-bottom-sm">Data Security</h1>
        <p class="article-paragraphs">
            We take reasonable measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. We use secure servers and data encryption technology to protect your information when it is transmitted over the internet.
        </p>

        <h1 class="heading-h4 font--grey margin-bottom-sm">Your Rights</h1>
        <p class="article-paragraphs">
            You have the right to access, correct, or delete any personal information we have collected about you. If you would like to make any changes to your personal information or have any questions about our privacy policy, please contact us at ianmaloney14@gmail.com.
        </p>

        <h1 class="heading-h4 font--grey margin-bottom-sm">Changes to this Privacy Policy</h1>
        <p class="article-paragraphs">
            We may update this privacy policy from time to time. We will notify you of any changes by posting the new privacy policy on our blog. We encourage you to review this policy periodically to stay informed about how we collect, use, and protect your information.
        </p>

        <h1 class="heading-h4 font--grey margin-bottom-sm">Consent</h1>
        <p class="article-paragraphs">
            By using our blog, you consent to the terms of this privacy policy and our collection, use, and disclosure of your personal information as described herein.
        </p>
    </section>
</div>

{% endblock %}