{% extends 'base.html' %}

{% block content %}
<div class="content-primary">
    <div class="about-hero-section">
        <div class="about-hero-text">
            <h1 class="about-text--title">Privacy</h1>
        </div>
        <!-- {% load static %}<img class=""src="/media/images/server-background-img.png" alt=""> -->
    </div>
    <section class="section-about container">
        <div class="container">
            <div class="profile">
                <h1 class="heading--text">Privacy Policy</h1>
                <hr>
                <p class="paragraph--text">
                    I'm Ian. I've been coding since 2021 and became interested in software developement through a curiosity for Cryptocurrency. I attended a coding bootcamp for full-stack web developement in early 2022 and received my certificate of acheivement in early December of 2022.
                    Since graduating, I've become fascinated with computer networking and cybersecurity. I enjoy sharing my journey, working on various projects, and always learning more.
                </p>
            </div>
        </div>
    </section>
    <section class="section-contact container">
        <div class="container">
            <div class="contact-content">
            <h1 class="heading--text">Contact</h1>
            <hr>
            <h3 class="subheading--text">Send me a Tip</h3>
                <p class="paragraph--text">If you like the articles I write a want to send me a tip for my troubles, you can do so via cryptocurrency:</p>
                <p class="paragraph--text">XRPL Address: </p>
            <h3 class="subheading--text">You can reach me on my Socials:</h3>
                <p class="paragraph--text">Twitter: @ianmaloney_14</p>
                <p class="paragraph--text">LinkedIn: linkedin.com/in/ianmaloney14/</p>
                <p class="paragraph--text">Email: ianmaloney14@gmail.com</p>
            <h3 class="subheading--text">Complaints</h3>
                <p class="paragraph--text">If you have a concern about any posting or comment being factually incorrect, please drop me an email.</p>
                <p class="paragraph--text">Please provide details of who you are, how I can contact you, what your interest is, and what your concern is. If something has been written as factually incorrect, it will be addressed. Anonymous complaints will be ignored.</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}