{% extends 'base.html' %}


{% block content %}
<section class="section-article">
    <div class="container grid grid--2-cols-wide">
        <div class="article-content-container">
            <h1 class="heading-primary font--grey">{{ post.title }}</h1>
            <p class="article-content">{{ post.body|safe }}</p>
            <div class="author-card">
                <small class="written-by">Written By:</small>
                <span class="author">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                <p>{{ post.post_date }}</p>
            </div>
        </div>
        <div class="table-of-contents">
            <div class="content-list">
                <h4>Table of Contents</h4>
                <ul>
                    <li>paragraph 1</li>
                    <li>paragraph 1</li>
                    <li>paragraph 1</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}