{% extends 'base.html' %}


{% block content %}
<section class="section-article">
    <div class="container grid grid--2-cols-wide">
        <div class="article-content-container">
            <h1 class="heading-primary font--grey">{{ post.title }}</h1>
            <p class="article-content">{{ post.body|safe }}</p>
        </div>
        <!-- <div class="table-of-contents">
            <div class="content-list">
                <h4>Table of Contents</h4>
                <ul>
                    <li>paragraph 1</li>
                    <li>paragraph 1</li>
                    <li>paragraph 1</li>
                </ul>
            </div>
        </div> -->
    </div>
</section>
<section class="section-author">
    <div class="container">
        <div class="author-card">
            <div class="author-pp">
                {% load static %}<img src="{% static "img/image-not-found-scaled.png" %}">
            </div>
            <div class="about-author">
                <p>{{ post.post_date }}</p>
                <p class="written-by">Written By</p>
                <span class="author">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                <p>This is dummy text about the author</p>
                <br>
                <hr>
                <h4>Share Article:</h4>
                <ul class="social-links">
                    <li class="social-link">
                        <a class="footer-link" href="#"><ion-icon class="social-icons" name="logo-twitter"></ion-icon></a>
                    </li>
                    <li class="social-link">
                        <a class="footer-link" href="#"><ion-icon class="social-icons" name="logo-linkedin"></ion-icon></a>
                    </li>
                    <li class="social-link">
                        <a class="footer-link" href="#"><ion-icon class="social-icons" name="mail"></ion-icon></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}