{% extends 'base.html' %}

{% block content %}
<section class="section-hero">
    <div class="hero">
        <div class="hero-text-box">
            <h1 class="heading-primary">Explore the Crypto Space Confidently</h1>
            <h3 class="heading-secondary">With Expert Recommendations</h3>
        </div>
        <div class="hero-nav-items">
            <ul class="hero-nav-item-list grid grid--4-cols">
                <li class="hero-nav-item">
                    <ion-icon class="nav-icon" name="library"></ion-icon>
                    <a class="hero-nav-item-link" href="#">Education &rarr;</a>
                </li>
                <li class="hero-nav-item">
                    <ion-icon class="nav-icon" name="wallet"></ion-icon>
                    <a class="hero-nav-item-link" href="#">Investing &rarr;</a>
                </li>
                <li class="hero-nav-item">
                    <ion-icon class="nav-icon" name="globe"></ion-icon>
                    <a class="hero-nav-item-link" href="#">DeFi &rarr;</a>
                </li>
                <li class="hero-nav-item">
                    <ion-icon class="nav-icon" name="sparkles"></ion-icon>
                    <a class="hero-nav-item-link" href="#">Gambling &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="section-post">
    <div class="container">
        <h2 class="heading-secondary font--grey">
            Latest Posts
        </h2>
    </div>
    <div class="container grid grid--3-cols">
        {% for post in object_list %}
                <div class="post">
                    {% load static %}<img class="post-img" src="{% static "img/image-not-found-scaled.png" %}" alt="image not found">
                    <div class="post-content">
                        <div class="post-tags">
                            <span class="tag tag--eductaion">Category</span>
                        </div>
                        <p class="post-title"><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a></p>
                        <ul class="post-attributes">
                            <li class="post-attribute">{{ post.description|slice:":200"|safe}}</li>
                        </ul>
                    </div>
                </div>
        {% endfor %}
    </div>
</section>
{% endblock %}