/* ******************************** */
/* NAVIGATION */
/* ******************************** */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 1.8rem;
    padding: 2.4rem;
    color: #555;
    display: block;
    text-decoration: none;
}

.main-nav-links {
    font-weight: 700;
    font-size: 4.8rem;
}

.nav-header-link a {
    text-decoration: none;
}

.nav-header-link h1 {
    font-size: 3.2rem;
}

/* ******************************** */
/* ABOUT/CONTACT SECTION */
/* ******************************** */

.section-about {
    text-align: center;
}

.section-contact {
    text-align: center;
}


/* ******************************** */
/* FOOTER */
/* ******************************** */

.footer {
    width: 100%;
}

.footer-navbar p {
    text-align: center;
}


