/* ******************************** */
/* HEADER */
/* ******************************** */

.logo {
    height: 2.2rem;
}

.container--wide {
    width: 142rem;
    max-width: 100% !important;
    padding: 0 !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141a1f;

    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ******************************** */
/* NAVIGATION */
/* ******************************** */

.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: #141a1f;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
}
.dropdown.active + .main-nav-link,
.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #228be6;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    transition: 500ms;
    background-image: linear-gradient(to right, #1864ab 0%, #228be6 51%, #1864ab 100%);
    background-size: 200% auto;
    /* background-color: #228be6; */
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
    /* background-color: #1971c2; */
    background-position: right center;
}

.main-nav-search {
    padding: .8rem;
}

.icon {
    height: 1.6rem;
}

.form-label {
    position: relative;
}

.icon-search {
    position: absolute;
    top: 50%;
    left: 1.6rem;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #ddd;
}

.form-label input {
    height: 4rem;
    background-color: #555;
    border-radius: 0.4rem;
    padding: 0 1.6rem 0 4.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    outline: 0;
    border: 1px solid transparent;
}

/* ******************************** */
/* DROPDOWN NAVIGATION */
/* ******************************** */

.dropdown {
    position: relative;
}

.dropdown-menu {
    width: max-content;
    position: absolute;
    /* left: 0; */
    right: 0;
    top: calc(100% + 1.4rem);
    background-color: #fff;
    padding: 3.2rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .6);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 3.2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
}

.dropdown.active + .main-nav-link,
.dropdown-link:link,
.dropdown-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #141a1f;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 300ms;
}

.dropdown-link:hover,
.dropdown-link:active {
    color: #228be6;
}

.dropdown-cards {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.2rem;
}

.dropdown-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    gap: 3.2rem;
    border-radius: 9px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
}

.dropdown-card-logo {
    height: 3.2rem;
    width: 3.2rem;
}

/* ******************************** */
/* STICKY NAVIGATION */
/* ******************************** */

.sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 999;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1.2rem 3.2rem (0, 0, 0, 0.03);
}

/* ******************************** */
/* MOBILE NAVIGATION */
/* ******************************** */

.btn-mobile-nav {
    border: none;
    background-color: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #fff;
    background-color: #141a1f;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/* ******************************** */
/* HERO SECTION */
/* ******************************** */

.section-hero {
    background-color: #141a1f;
    padding: 4.8rem 0 9.6rem 0;
    margin-top: 8rem;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.hero-nav-item-list {
    list-style: none;
}

.hero-nav-item {
    background-color: #212529;
    border-radius: 9px;
}

.hero-nav-item-link {
    font-size: 2rem;
    line-height: 1.6;
    color: #fff;
    padding: 0 3.2rem 3.2rem 3.2rem;
}

.hero-nav-item-link:link,
.hero-nav-item-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    transition: all 300ms;
    cursor: pointer;
}

.hero-nav-item-link:hover,
.hero-nav-item-link:active {
    color: #228be6;
}

.nav-icon {
    display: block;
    height: 4.8rem;
    width: 4.8rem;
    padding: 3.2rem;
    color: #228be6;
}




/* ******************************** */
/* POST SECTION */
/* ******************************** */

.section-post {
    padding: 9.6rem 0 12.8rem 0;
}

.post {
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.4s;
}

.post:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.post-content {
    padding: 3.2rem 3.2rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #f03e3e;
    color: #fff;
    border-radius: 9px;
    font-weight: 600;
}

.tag--education {
    background-color: #f03e3e;
}

.tag--gamble {
    background-color: #37b24d;
}

.tag--defi {
    background-color: #7048e8;
}

.tag--investing {
    background-color: #4263eb;
}

.post-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.post-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.post-title a {
    text-decoration: none;
    color: #333;
}

.post-title-link:link,
.post-title-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #141a1f;
    font-weight: 500;
    font-size: 2rem;
    transition: all 300ms;
    cursor: pointer;
}

.post-title-link:hover,
.post-title-link:active {
    color: #228be6;
}

.post-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.post-img {
    width: 100%;
}

/* ******************************** */
/* FOOTER SECTION */
/* ******************************** */

.footer {
    padding: 12.8rem 0;
    background-color: #141a1f;
}

.grid--footer {
    grid-template-columns: 2fr 0.5fr 0.5fr !important;
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.about {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
    line-height: 1.8;
    color: #aaa;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 5.4rem;
    gap: 2.4rem;
    margin: 2rem 0;
}

.social-icons {
    height: 2.4rem;
    width: 2.4rem;
}

.copyright {
    font-size: 1.4rem;
    color: #aaa;
    line-height: 1.6;

}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3.2rem;
    color: #fff;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #aaa;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #228be6;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.footer-terms-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5.2rem !important;
}

.footer-nav-resources {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-resources {
    margin-right: 2.4rem;
}

/* ******************************** */
/* ARTICLE SECTION */
/* ******************************** */

.section-article {
    padding: 9.6rem 0;
    margin-top: 8rem;
}


.article-content {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #141a1f;
}

.article-subheading {
    font-size: 3.2rem;
    margin-bottom: 1.8rem;
}

/* ******************************** */
/* AUTHOR SECTION */
/* ******************************** */

.section-author {
    padding: 9.6rem;
}

.author-card {
    font-size: 1.6rem;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3.2rem;
    max-width: 100%;
}

.about-author {
    padding: 0 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author-pp img{
    height: 20rem;
    width: 20rem;
}

.written-by {
    font-size: 1.2rem;
}

.author {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.table-of-contents {
    background-color: #aaa;
}

.author-socials {
    justify-content: space-evenly;
}
